
th {
    .sort-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        cursor: pointer;
        padding: 0 3px;
      }
    }
  }

.btn-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.customize-table {
  overflow-x: auto;
}